.wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.tableOuter {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.tableInner {
    width: 50%;
}